@import "sw-web-shared/lib/styles/variables";

.sw-get-started-container {
  display: flex !important;
  height: 100%;
  position: relative;

  .sw-box-logo {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 40%;
  }

  .sw-box-quote {
    width: 100%;
    flex: 60%;
    .quote {
      padding: 20px;
      border: 2px solid $border-color-base;
      background: rgba($primary-color, 0.8);
    }
  }

  .sw-box-title {
    width: 100%;
    display: flex;
    flex: 40%;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .sw-box-actions {
    display: flex;
    width: 100%;
    flex: 60%;
    align-items: flex-end;
    flex-direction: column;
    grid-gap: 30px;
  }

  .sw-box {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    grid-gap: 60px;
  }
}