@import 'sw-web-shared/lib/styles/variables';
@import 'sw-web-shared/lib/styles/breakpoints';

.sw-community-credits {
  width: 90%;
  flex: 60%;

  .sw-box-quote .quote {
    padding: 28px;
  }

  @include media-breakpoint('lt-sm') {
  }

  @include media-breakpoint('lt-lg') {
    flex: auto;
    width: 100%;
    & > .sw-box {
      .sw-box-logo {
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.sw-credit-widget {
  display: flex;

  + .sw-credit-widget {
    margin-top: 16px;
  }

  .credit-amount {
    width: 75px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
  }

  .credit-content {
    flex: 1;

    .credit-label {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }
    .sw-progress-bar {
      position: relative;

      .sw-progress-bar-label {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
