@import "sw-web-shared/lib/styles/variables";
@import "sw-web-shared/lib/styles/breakpoints";

.sw-join-base-container {

  .sw-box-logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .sw-box-quote {
    width: 100%;
    flex: 60%;
  }

  .sw-box-categories {
    width: 100%;
    max-height: "100%";
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
  }

  .sw-box-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }


  @include media-breakpoint("lt-lg") {
    & > .sw-box {
      grid-gap: 10px !important;


      .sw-box-quote {
        flex: auto;
      }

      .sw-box-logo {
        justify-content: center;
        margin-bottom: 16px;
      }

      .sw-box-actions {
        flex-direction: row;
        align-items: flex-start;

        & > * {
          flex: auto;
        }
      }
    }
  }

}
