@import "sw-web-shared/lib/styles/breakpoints";

.sw-join-base-container.sw-categories-container {
  .sw-box-logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .sw-category-wrapper {
    width: 100%;
  }

  .sw-box-quote {
    width: 100%;
    flex: 60%;
  }

  @include media-breakpoint("lt-lg") {
    & > .sw-box {
      .sw-box-quote {
        flex: auto;
      }

      .sw-box-logo {
        justify-content: center;
      }
    }
  }
}
