$time: 350ms;
$mode: cubic-bezier(0.17, 0.57, 0.45, 1);

.react-3d-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .slider-container {
    position: absolute;
    top: 0%;
    width: 90%;
    .slider-content {
      position: relative;
      top: 0%;
      width: 90%;
      height: 80%;
      .slider-single {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        .slider-single-content {
          display: flex;
          justify-content: center;
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
          transition: $time $mode;
          transform: scale(0);
          opacity: 0;
        }
        &.preactivede {
          .slider-single-content {
            transform: translateX(-50%) scale(0);
          }
        }
        &.preactive {
          z-index: 1;
          .slider-single-content {
            opacity: 0.5;
            transform: translateX(-25%) scale(0.8);
          }
        }
        &.proactive {
          z-index: 1;
          .slider-single-content {
            opacity: 0.5;
            transform: translateX(25%) scale(0.8);
          }
        }
        // &.proactivede {
        //   .slider-single-content {
        //     transform: translateX(50%) scale(0);
        //   }
        // }
        &.active {
          .slider-left,
          .slider-right {
            display: block;
          }

          z-index: 2;
          .slider-single-content {
            opacity: 1;
            transform: translateX(0%) scale(1);
          }
        }
      }
    }
    .slider-left {
      position: absolute;
      display: none;
      z-index: 3;
      right: 91%;
      padding: 20px 15px 20px 50px;
      height: 100%;
      cursor: pointer;

      &.large {
        right: 90%;
      }
      div {
        position: absolute;
        top: 50%;
        left: 0%;
        color: #ffffff;
        transform: translateY(-50%);
        padding: 10px 10px;
      }
    }
    .slider-right {
      display: none;
      position: absolute;
      z-index: 3;
      left: 95%;
      padding: 20px 15px 20px 50px;
      height: 101%;
      cursor: pointer;

      &.large {
        left: 93%;
      }
      div {
        position: absolute;
        top: 50%;
        left: 0%;
        color: #ffffff;
        transform: translateY(-50%);
        padding: 10px 10px;
      }
      margin-left: -2px;
    }

    .slider-disabled {
      div {
        display: none;
      }
    }
  }
}
