@import 'sw-web-shared/lib/styles/variables';
@import 'sw-web-shared/lib/styles/breakpoints';

.sw-user-info-wrapper {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  align-items: center;
  .sw-total-credits {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    .MuiBadge-badge {
      right: -13px;
    }
  }
  .sw-credit-widget {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
    width: 290px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;

    + .sw-credit-widget {
      margin-top: 16px;
    }

    .sw-credit-icon {
      color: $foreground-color;
      fill: $foreground-color;
      margin-right: 16px;
      width: 16px;
      margin-bottom: 4px;
    }

    .credit-label {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
      height: 25px;
      line-height: 25px;
      width: 100%;
    }

    .credit-amount {
      width: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .credit-content {
      width: 100%;
      display: flex;
      align-items: flex-end;

      .sw-progress-bar {
        flex: 1;
      }
    }
  }
}
