.sw-gigs-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .sw-box-right-inner {
    display: flex;
    justify-content: center;
    align-items: column;
  }
}
