@import 'sw-web-shared/lib/styles/variables';
@import 'sw-web-shared/lib/styles/breakpoints';

.sw-skill-card {
  display: flex;
  // border: 2px solid $border-color-base;
  // background: rgba($primary-color, 0.8);

  .sw-skill-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    padding: 0;

    .MuiListItem-root {
      border: 1px solid;
    }
  }

  .sw-skill-icon {
    fill: $primary-color;
    margin-bottom: 4px;
    width: 18px;
    &.active {
      fill: $foreground-color;
    }
  }

  @include media-breakpoint('lt-sm') {
    .sw-skill-list {
      grid-template-columns: 1fr;
    }
  }
}
